/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(44, 0, 163);
}

.card {
  width: 400px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 13em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card__front {
  background: rgb(0, 225, 255);
  background-size: cover;
  background-blend-mode: overlay;
  color: #771616;
}

img {
  max-width: 100%;
  height: auto;
}

.card__front::before {
  content: '';
  position: absolute;
  --spacer: 2em;
  top: var(--spacer);
  bottom: 3.4em;
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid currentColor;
  transform: translateZ(3rem);
}

.card__title {
  font-size: 3rem;
  transform: translateZ(6rem);
  text-transform: uppercase;
}

.card__subtitle {
  transform: translateZ(4rem);
  text-transform: uppercase;
}

.card__body {
  transform: translateZ(4rem);
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 5em 3em;
}

.card__back {
  transform: rotateY(.5turn);
  color: #ffffff;
  background: #333;
}